body {
	font-family: 'Varela Round', sans-serif;
	background-image: url("/img/form.jpg");
	background-repeat: no-repeat;
	background-size: cover ;
}

fieldset{
	text-align: left;
	font-size: 14px;
	margin-left: 20%;
	padding-top: 5%;
}

.form-group{
	/* border: 1px solid black; */
	margin-right: 20%;
}

.form-group p{
	padding-top: 10px;
}

.modal-content{
	background-color: rgba(255, 255, 255, 0.966) !important;
}

.modal-confirm {		
	color: #636363;
	width: 900px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 20px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: rgb(0, 0, 0);
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #88f15e;
}
.modal-confirm .icon-box i {
	color: #50c423;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f37a29;
	color: #1a1212;
	font-weight: bold;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #1a1212;
	color: #f37a29;
}

.bton{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
	min-width: 120px;
	min-height: 40px;
	font-size: 14px;
	padding: 8px 12px;

}

a, a:hover{
	text-decoration: none;
}
