body {
	font-family: 'Varela Round', sans-serif;
	background-image: url("/img/login.jpg");
	background-repeat: no-repeat;
	background-size: cover ;
}
.modal-login {		
	
	color: #636363;
	width: 400px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	background-color: #ffffff;

}
.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -30px;
}
.modal-login .form-control:focus {
	border-color: #201313;
	box-shadow: none !important;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-login .modal-footer {
	background-color: #ffffff;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.modal-login .modal-footer a {
	color: #999;
}		
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #f37a29;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
	width: 100%;
}
.modal-login.modal-dialog {
	margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
	color: #fff;
	border-radius: 4px;
	/* background: #f37a29 !important; */
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
	border-color: black !important;
}
.modal-login .btn:hover{

	font-weight: bold;
}

.modal-login .btn:hover, .modal-login .btn:focus {
	background: #1a1212 !important;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}

.btn-google{
	background-color: #DB4A39 !important;
	font-size: 15px;
}

.btn-facebook{
	background-color: #3B5998 !important;
	font-size: 15px;
}

.login-btn{
	background-color: #f37a29 !important;
}
