body {
	font-family: 'Varela Round', sans-serif;
	background-image: url("/img/login.jpg");
	background-repeat: no-repeat;
	background-size: cover ;
}
.modal-login {		
	
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	background-color: #ffffff;

}
.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
	border-color: #201313;
	box-shadow: none !important;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-login .modal-footer {
	background-color: #ffffff;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.modal-login .modal-footer a {
	color: #999;
}		
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #f37a29;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
	width: 100%;
}
.modal-login.modal-dialog {
	margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #f37a29 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
	border-color: black !important;
}
.modal-login .btn:hover{

	font-weight: bold;
}

.modal-login .btn:hover, .modal-login .btn:focus {
	background: #1a1212 !important;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


/*--- MODAL CSS ---*/
.modal-confirm {	
	background-color:white;	
	color: #ffffff;
	width: 900px;
	border-radius: 5px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 30px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
	background-color:#f12c2c;

}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}

.modal-confirm .modal-body {
	color: rgb(0, 0, 0);
	text-align: center;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: rgb(0, 0, 0);
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #ffffff;
}
.modal-confirm .icon-box i {
	color: #ffffff;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #f12c2c;
}

.bton{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
	min-width: 120px;
	min-height: 40px;
	font-size: 14px;
	padding: 8px 12px;
}

.error{
	color: rgb(255, 255, 255);
	background-color: rgb(207, 71, 71) !important;
	margin: 10px;
	padding: 8px;
	border-radius: 3px;
	width: 100%;
	text-align: center;
}
